{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Détails de la formation "{{ formation.getNomForm() }}"</h1>
        <div class="formation-details">
            <h2>Description</h2>
            <p>{{ formation.getDescription() }}</p>
        </div>

        <hr>

        <div class="uploaded-file">
            <h2>Voir Fichier</h2>
            {% if formation.fileContent is not null %}
                <a href="{{ path('app_formation_pdf', {'id': formation.idForm}) }}" class="btn btn-primary">Voir PDF</a>
            {% else %}
                <p>Aucun fichier PDF disponible.</p>
            {% endif %}
        </div>
        <hr>
        <div class="back-button">
            <a href="{{ path('app_client_formations') }}" class="btn btn-secondary">Retour à la liste des formations</a>
        </div>
    </div>
    
{% endblock %}



