<form method="post" action="{{ path('app_user_form_room_delete_client', {'idFR': user_form_room.idFR, 'userId': client.getUser().getIdUser()}) }}" onsubmit="return confirm('Are you sure you want to delete this client from the formation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_form_room.idFR ~ client.getUser().getIdUser()) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
