{% extends 'admin.html.twig' %}

{% block title %}New UserFormRoom
{% endblock %}

{% block body %}
	<h1>Create new UserFormRoom</h1>

	{{ include('user_form_room/_form.html.twig') }}

	<a href="{{ path('app_user_form_room_index') }}">back to list</a>
{% endblock %}
