{% extends 'admin.html.twig' %}

{% block title %}UserFormRoom
{% endblock %}

{% block body %}
	<h1>UserFormRoom</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>IdFR</th>
				<td>{{ user_form_room.idFR }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_user_form_room_index') }}">back to list</a>

	<a href="{{ path('app_user_form_room_edit', {'idFR': user_form_room.idFR}) }}">edit</a>

	{{ include('user_form_room/_delete_form.html.twig') }}
{% endblock %}
