{% extends 'base.html.twig' %}


{%block title%}
Hello StudentController!
{% endblock %}

{%block body%}
 <table border="1" align="center">
        <thead>
            <tr>
                <th>id</th>
                
                <th>nsc</th>

                <th>email</th>

                </tr>
        </thead>
        <tbody>
           
              <tr>
                  <td>rahma </td>
                 <td>esprit </td>
                <td>3a13 </td>
              </tr>
        

           </tbody>
        </table>
{%endblock%}
